.row {
  padding: 1rem 0 0.5rem 2rem;
  position: relative;
}

@media (max-width: 540px) {
  .row {
    padding-left: 1rem;
  }
}

.row__title {
  color: var(--clr-white);
  margin-bottom: 0.25rem;
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  font-weight: 500;
}

.row__movies {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.row__movies::-webkit-scrollbar {
  display: none;
}

.row__poster {
  max-height: 20vh;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.row__poster:hover {
  transform: scale(1.05);
  opacity: 1;
}

.row__large-poster {
  max-height: 35vh;
}

.row__large-poster:hover {
  transform: scale(1.09);
}

.btn-slide {
  display: none;
  visibility: hidden;
}

@media (min-width: 768px) {
  .btn-slide {
    display: inline-block;
    border: none;
    outline: none;
    position: absolute;
    z-index: 1;
    visibility: visible;
    height: 100%;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--clr-white);
    cursor: pointer;
  }

  .next-slide {
    right: 0.25rem;
  }

  .pre-slide {
    left: 2rem;
  }
}
