.red-button {
  width: 100%;
  border: 0;
  outline: 0;
  background: var(--clr-red);
  color: var(--clr-white);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1.125rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.red-button:hover {
  background: rgb(193, 17, 25);
}
