.primary-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0 1rem;
}

.navbar-short {
  max-width: 1156px;
  margin: 0 auto;
}

.navbar-logo {
  width: 200px;
}

@media (max-width: 991px) {
  .primary-navbar {
    padding: 1.25rem 1rem;
  }
  .navbar-logo {
    width: 120px;
  }
}

.navbar-link-item {
  display: block;
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-red);
  font-weight: 600;
  padding: 0.5em 1.5em;
  border-radius: 0.25rem;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
}

.navbar-link-item:hover {
  background: rgb(193, 17, 25);
}
