.sign-in {
  background: url("https://raw.githubusercontent.com/thatanjan/netflix-clone-yt/youtube/media//banner.jpg")
    center no-repeat;
  background-size: cover;
  object-fit: contain;
}

.sign-in__wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0.15) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.sign-in__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.sign-in__button {
  cursor: pointer;
  border: none;
  outline: none;
  color: var(--clr-white);
  background-color: var(--clr-red);
  padding: 0.5rem 1.25rem;
}

.sign-in__content {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  z-index: 2;
  color: var(--clr-white);
  text-align: center;
  padding: 0 1rem;
}

@media (max-width: 540px) {
  .sign-in__content {
    top: 25%;
  }
}

.sign-in__content-wrapper {
  margin: 0 auto;
}

.sign-in__content-wrapper > h1 {
  font-size: clamp(2.25rem, 3vw, 3.25rem);
  font-weight: 600;
  line-height: 1;
}
.sign-in__content-wrapper > h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0.5rem 0 0.2rem;
}
.sign-in__content-wrapper > h3 {
  font-size: 1rem;
  font-weight: 400;
}

.sign-in__input-row {
  margin-top: 2rem;
}

.form {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.form > input {
  width: 100%;
  padding: 1rem 1.25rem;
  border: none;
  outline-width: 0;
}

.form > button {
  width: 180px;
  background: var(--clr-red);
  color: var(--clr-white);
  font-weight: 500;
  border: none;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}
