.sign-in {
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/51e53f54-0d9f-40ec-9e05-c030def06ac9/be5b2939-da9f-4b9f-b76b-31b32ad0515b/IN-en-20230515-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center no-repeat;
  background-size: 110%;
  background-position: 0 4%;
}

@media (max-width: 1440px) {
  .sign-in {
    background-size: auto;
  }
}

.sign-in__wrapper {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0.15) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
